body{
    height: 100vh;
    background: url(../../assets/img/BACKGROUND.png) ;
    background-size: cover;
    padding: 1px;
    
}
.logo{
   
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	margin-bottom: 20px;
	margin-top: 30px;
	padding-top: 1px;
}
.form{
	font-weight: 50;
}

.global-container{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
}

.login-form{
	width: 560px;
	height: 300px;
	padding: 5px;
	background-color: #D9D9D9;
	border-radius: 10px;
}

.img{
    width: 147.25px;
    height: 123.03px;
}

.text{
    font-size: 20px;
}

.container-fluid{
    position: sticky;
    bottom: 30px;
}
.card-group{
	margin-top: 30px;
	font-size: 12px;
}
.card{
	background-color: darkgray;
}
.card-title{
    padding-top: 10px;
    font-weight: 900;
}
