<body>
    <div class="logo">
        <img src="../../assets/img/Logo.png" alt="logo" width="228px" height="119px" class="rounded-circle img-thumbnail opacity-50" />
     </div>
<div class="global-container">
    <div class="card login-form opacity-50">
     <div class="row">
         <p class="text card-title text-center mb-5"><b>Selamat <br> Sekarang anda telah menjadi <br> bagian dari Go Green Negeriku </b></p>
       </div>
     
        <div class="d-flex justify-content-around align-items-center mb-4">
            <a [routerLink]="['/','home']">
                <img src="../../assets/img/ICON CEKLIS.png" class="img-content" >
            </a>
          
        </div>
    </div>
  </div>
 <!-- akhir konten -->

  <!-- Footer -->
<div class="card-group">
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Tentang kita</h5>
    <p class="card-text">Go Green Negriku didirikan pada tanggal 20 februari 2022 <br> yang dimana ini merupakan salah satu sarana bagi komunitas pencinta alam untuk sama-sama menjaga bumi pertiwi</p>
  </div>
  
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Alamat</h5>
    <p class="card-text text-center"><img src="../../assets/img/lokasi.png" width="25px" height="22.22px" alt="" srcset=""> Jl. soekarno-Hatta No.547 <br> Bandung, Jawa Barat</p>
  </div>
  
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Kontak Kami</h5>
    <div class="container overflow-hidden text-center">
      <div class="row gy-2">
        <div class="col-6">
          <div class="p-0"><img src="../../assets/img/ICON MAIL.png" width="25px" height="22.22px" alt="" srcset=""> @gogreennegriku</div>
        </div>
        <div class="col-6">
          <div class="p-0"><img src="../../assets/img/telepon.png" width="25px" height="22.22px" alt="" srcset=""> 08822052068</div>
        </div>
        <div class="col-6">
          <div class="p-0"><img src="../../assets/img/ICON IG.png" width="25px" height="22.22px" alt="" srcset=""> gogreennegriku</div>
        </div>
        <div class="col-6">
          <div class="p-0"><img src="../../assets/img/ICON FB.png" width="25px" height="22.22px" alt="" srcset=""> gogreennegriku</div>
        </div>
      </div>
    </div>
        </div>
        
      </div>
</div>       

</body>


