<body>
    <!-- awal navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/img/Logo.png" class="rounded-circle img-thumbnail opacity-50" alt="" srcset="" opacity-50></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav text-white">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="color: #ffffff;" [routerLink]="['/','home']">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" [routerLink]="['/','informasi']">Informasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" [routerLink]="['/','edukasi']">Edukasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" [routerLink]="['/','agenda']">Agenda</a>
            </li>
            
          </ul>
          <form class="btn d-flex">
            <button class="btn btn-outline-light" type="submit" [routerLink]="['/','keluar']">Keluar</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->
  
    <!-- konten -->
      <div class="d-flex justify-content-around mt-5">
        <div class="" style="width: 20rem;">
          <img src="../../assets/img/Informasi 2.png" class="card-img-top" style="width: 270px; height: 190px;">
            <div class="card-body">
              <p class="card-text" style="color: #ffffff; font-size: 15px;"><b> PEMKOT BANDUNG DAN SATGAS CITARUM SINERGI OPTIMALISASI PENGHIJAUAN KOTA BANDUNG.</b></p>
               <button class="ls"> <a href="https://citarumharum.jabarprov.go.id/pemkot-bandung-dan-satgas-citarum-sinergi-optimalisasi-penghijauan/" target="_blank">Lihat selangkapnya</a></button>
            </div>
          </div>
          <div class="" style="width: 20rem;">
            <img src="../../assets/img/Informasi 1.png" class="card-img-top" style="width: 270px; height: 190px;">
            <div class="card-body">
              <p class="card-text"  style="color: #ffffff; font-size: 15px;"><b>Hari Peduli Sampah Nasional 2022, Pemkot Bandung : Kang Pisman Jadi Garda Terdepan Riedha Adriyana.</b> </p>
              <button class="ls"><a href="https://www.ketiknews.id/news/pr-3012724991/hari-peduli-sampah-nasional-2022-pemkot-bandung-kang-pisman-jadi-garda-terdepan" target="_blank" >Lihat selangkapnya</a></button>
            </div>
          </div>
          <div class="" style="width: 20rem;">
            <img src="../../assets/img/Informasi 3 1.png" class="card-img-top" style="width: 300px; height: 190px;">
            <div class="card-body">
              <p class="card-text" style="color: #ffffff; font-size: 15px;" ><b> DLH KABUPATEN BANDUNG LAKSNAKAN HARI MENANAM POHON INDONESIA DI DESA PATENGAN RANCABALI.</b></p>
              <button class="ls"><a href="https://citarumharum.jabarprov.go.id/dlh-kabupaten-bandung-laksanakan-hari-menanam-pohon-indonesia-di-desa-patengan-rancabali/" target="_blank" > Lihat selangkapnya</a></button>
            </div>
          </div>
    </div>
    <!-- akhir konten -->
  
    <!-- footer -->
    <div class="card-group ">
      <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Tentang Kita</h5>
        <p class="card-text">Go Green Negriku didirikan pada tanggal 20 februari 2022 <br> yang dimana ini merupakan salah satu sarana bagi komunitas pencinta alam untuk sama-sama menjaga bumi pertiwi</p>
      </div>
      
      </div>
      <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Alamat</h5>
        <p class="card-text text-center"><img src="../../assets/img/lokasi.png"  width="20px" height="17.22px" alt="" srcset=""> Jl. soekarno Hatta  No.547 <br> Bandung Jawa Barat</p>
      </div>
      
      </div>
      <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Kontak Kami</h5><br>
        <div class="container overflow-hidden text-center">
          <div class="row gy-2">
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/ICON MAIL.png"  width="20px" height="17px" alt="" srcset="">@gogreennegriku</div>
            </div>
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/telepon.png"  width="20px" height="17px" alt="" srcset=""> 08822052068</div>
            </div>
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/ICON IG.png" width="20px" height="17px" alt="" srcset=""> gogreennegriku</div>
            </div>
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/ICON FB.png" width="20px" height="17px" alt="" srcset=""> gogreennegriku</div>
            </div>
          </div>
        </div>
       </div>     
      </div>
      </div>
    <!-- akhir footer -->
  </body>
