<body>
    <br>
    <div>
        <h5><b>Daftar Member</b></h5>
        <br><p style="color: rgb(85, 85, 219);">Tambah Data Mahasiswa</p>
    </div>
<div>
<table >
    <thead>
      <tr>
        <th class="satu ">No</th>
        <th>Nama</th>
        <th>Alamat Email</th>
        <th class="satu" >Umur</th>
        <th>Jenis Kelamin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>Mochamad Egi</td>
        <td>egimoch22@gmail.com</td>
        <td>28</td>
        <td>Laki-Laki</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Ikbal</td>
        <td>ikbal@gmail.com</td>
        <td>27</td>
        <td>Laki-Laki</td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
