<body>
    <!-- awal navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/img/Logo.png" class="rounded-circle img-thumbnail opacity-50" alt="" srcset="" opacity-50></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav text-white">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="color: #ffffff;" [routerLink]="['/','home']">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" [routerLink]="['/','informasi']">Informasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" [routerLink]="['/','edukasi']">Edukasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" [routerLink]="['/','agenda']">Agenda</a>
            </li>
            
          </ul>
          <form class="btn d-flex">
            <button class="btn btn-outline-light" type="submit" [routerLink]="['/','keluar']">Keluar</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->
  
    <!-- awal konten -->
    <div class="d-flex justify-content-around mt-5">
      <div class="" style="width: 20rem;">
        <img src="../../assets/img/Edukasi 1.png" class="card-img-top" style="width: 300px; height: 190px;">
          <div class="card-body">
            <p style="color: #ffffff; font-size: 15px;"><b>Peduli Lingkungan, Ajarkan Anak 
              Menanam Pohon November 29, 2011</b></p>
              <p style=" color: #ffffff; font-size: 12px;"><b>Menanamkan rasa cinta kepada lingkungan bisa 
                dimulai dari hal yang kecil, salah satunya dengan
                 menanam pohon. Dengan menanam pohon
                maka udara yang dihirup tetap bersih, 
                ketersediaan air tanah tetap terjaga dan pohon
                dapat menjaga kita dari bencana banjir 
                dan longsor. Maka dari itu sangat penting 
                mengajarkan cinta lingkungan sejak dini.</b></p>
            <button class="ls"><a href="https://www.umy.ac.id/peduli-lingkungan-ajarkan-anak-menanam-pohon" target="_blank"> Lihat selangkapnya</a></button>
          </div>
        </div>
        <div class="line"></div>
        <div class="" style="width: 20rem;">
          <img src="../../assets/img/Edukasi 2.png" class="card-img-top" style="width: 300px; height: 190px;">
          <div class="card-body">
            <p style=" color: #ffffff; font-size: 15px;"><b>Melalui Keputusan Presiden Republik Indonesia Nomor 24 Tahun 2008,telah ditetapkan tanggal 28 November sebagai Hari Menanam Pohon Indonesia (HMPI)</b></p>
              <p style="color: #ffffff; font-size: 12px;">Sementara pada aras dunia,sudah jauh lebih lama lagi, tanggal 21 November ditetapkan sebagai Hari Pohon Internasional (Word Tree Day). Bulan November dan Desember bagi Indonesia, sebagai negara agraris dan daerah tropis adalah musim hujan. Pada saat-saat inilah waktu yang tepat untuk malaksanakan kegiatan menanam, baik bercocok tanam tanaman semusim maupun tanaman tahunan.  </p>
            <button class="ls"><a href="https://dlh.bulelengkab.go.id/informasi/detail/artikel/mari-budayakan-menanam-pohon-45" target="_blank">Lihat selangkapnya</a></button>
          </div>
        </div>
        <div class="line"></div>
        <div class="" style="width: 20rem;">
          <img src="../../assets/img/edukasi 3.png" class="card-img-top" style="width: 300px; height: 190px;">
          <div class="card-body">
            <p style=" color: #ffffff; font-size: 15px;"><b>Kompas.com-menanam pohon di halaman rumah tidak hanya akan menambahkan keindahan dan kesejukan.</b></p>
              <p style="color: #ffffff; font-size: 12px;">Lebih dari itu, menenam pohon dapat memberikan manfaat yang lebih luas, baik untuk manusia maupun lingkungan,menjaga dan menanam pohon kembali menjadi upaya yang penting untuk menjaga kelangsungan kehidupan di Bumi. Dilansir dari Dinas Lingkungan Hidup Kabupaten Bulelang,berikut adalah manfaat pohon untuk kehidupan.  </p>
            <button class="ls"><a href="https://www.kompas.com/sains/read/2021/09/07/214500923/4-manfaat-menanam-pohon-untuk-lingkungan" target="_blank">Lihat selangkapnya</a></button>
          </div>
        </div>
  </div>
    <!-- akhir konten -->

    <!-- awal footer -->
  <div class="card-group">
      <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Tentang Kita</h5>
        <p class="card-text">Go Green Negriku didirikan pada tanggal 20 februari 2022 <br> yang dimana ini merupakan salah satu sarana bagi komunitas pencinta alam untuk sama-sama menjaga bumi pertiwi</p>
      </div>
      
      </div>
      <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Alamat</h5>
        <p class="card-text"><img src="../../assets/img/lokasi.png"  width="20px" height="17.22px" alt="" srcset=""> Jl. soekarno Hatta no.547 <br> Bandung Jawa Barat</p>
      </div>
      
      </div>
      <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Kontak Kami</h5>
        <div class="container overflow-hidden text-center">
          <div class="row gy-2">
            <div class="col-6">
              <div class="p-2"><img src="../../assets/img/ICON MAIL.png"  width="20px" height="17.22px" alt="" srcset="">@gogreennegriku</div>
            </div>
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/telepon.png"  width="20px" height="17.22px" alt="" srcset=""> 08822052068</div>
            </div>
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/ICON IG.png" width="20px" height="17.22px" alt="" srcset=""> gogreennegriku</div>
            </div>
            <div class="col-6">
              <div class="p-0"><img src="../../assets/img/ICON FB.png" width="20px" height="17.22px" alt="" srcset=""> gogreennegriku</div>
            </div>
          </div>
        </div>
       </div>     
      </div>
      </div>

  <!-- akhir footer -->
  </body>